[workspace]
release_always = false
changelog_update = false
git_release_enable = false
git_tag_enable = false

[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.

## [Unreleased]
"""
body = """
{% if version %}## [{{ version }}]{% if release_link %}({{ release_link }}){% endif %} - {{ timestamp | date(format="%Y-%m-%d") }}{% else %}## [Unreleased]{% endif %}
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group }}
{% for commit in commits %}
- {{ commit.message | trim }}
{% endfor %}
{% endfor %}
"""
trim = true
tag_pattern = "v[0-9].*"
sort_commits = "oldest"

[[changelog.commit_parsers]]
message = "^feat"
group = "Features"

[[changelog.commit_parsers]]
message = "^fix"
group = "Bug Fixes"

[[changelog.commit_parsers]]
message = "^perf"
group = "Performance"

[[changelog.commit_parsers]]
message = "^refactor"
group = "Refactoring"

[[changelog.commit_parsers]]
message = "^docs"
group = "Documentation"

[[changelog.commit_parsers]]
message = "^test"
group = "Tests"

[[changelog.commit_parsers]]
message = "^build"
group = "Build"

[[changelog.commit_parsers]]
message = "^ci"
group = "CI"

[[changelog.commit_parsers]]
message = "^chore"
group = "Chores"

[[changelog.commit_parsers]]
message = "^style"
group = "Style"

[[changelog.commit_parsers]]
message = "^revert"
group = "Reverts"

[[package]]
name = "trojan"
version_group = "workspace"
changelog_update = true
changelog_path = "./CHANGELOG.md"
changelog_include = [
  "trojan-core",
  "trojan-proto",
  "trojan-auth",
  "trojan-config",
  "trojan-metrics",
  "trojan-analytics",
  "trojan-server",
  "trojan-rs",
]
git_tag_name = "v{{ version }}"
git_release_name = "v{{ version }}"
git_tag_enable = true
git_release_enable = true

[[package]]
name = "trojan-core"
version_group = "workspace"

[[package]]
name = "trojan-proto"
version_group = "workspace"

[[package]]
name = "trojan-auth"
version_group = "workspace"

[[package]]
name = "trojan-config"
version_group = "workspace"

[[package]]
name = "trojan-metrics"
version_group = "workspace"

[[package]]
name = "trojan-analytics"
version_group = "workspace"

[[package]]
name = "trojan-server"
version_group = "workspace"

[[package]]
name = "trojan-rs"
version_group = "workspace"
